<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProjectDeveloper update</title>
</head>
<body>
    <h2>Fill out the form to update the project developer dependency.</h2>
    <form  action="/project-developer/update" method="post">
        <p>Old ProjectId = <input type="text" value="" name="setOldProjectId" id="setOldProjectId"></p>
        <p>Old DeveloperId = <input type="text" value="" name="setOldDeveloperId" id="setOldDeveloperId"></p>
        <br>
        <p>New ProjectId = <input type="text" value="" name="setNewProjectId" id="setNewProjectId"></p>
        <p>New DeveloperId = <input type="text" value="" name="setNewDeveloperId" id="setNewDeveloperId"></p>
        <button type="submit">Update</button>
    </form>
    <br>
    <h4 style="color:#00ff00" th:if="${errorMessage} == 'true'" th:text="${errorMessage}"></h4>
    <h4 style="color:#ff0000" th:if="${errorMessage.length()} > 4" th:text="'Error: ' + ${errorMessage}"></h4>
    <br>
    <form action="/project-developer" method="get">
        <button type="submit">back</button>
    </form>
</body>
</html>