<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeveloperSkill methods</title>
</head>
<body>
    <h2>Select method to interact with table:</h2>
    <br>
    <p><form action="/developer-skill/create" method="get">
        <button type="submit">Create</button>
    </form></p>
    <p><form action="/developer-skill/exist" method="get">
        <button type="submit">Exist</button>
    </form></p>
    <p><form action="/developer-skill/get-all" method="get">
        <button type="submit">GetAll</button>
    </form></p>
    <p><form action="/developer-skill/get-all-by-developer-id" method="get">
        <button type="submit">GetAllByDeveloperId</button>
    </form></p>
    <p><form action="/developer-skill/get-all-by-skill-id" method="get">
        <button type="submit">GetAllBySkillId</button>
    </form></p>
    <p><form action="/developer-skill/update" method="get">
        <button type="submit">Update</button>
    </form></p>
    <p><form action="/developer-skill/delete" method="get">
        <button type="submit">Delete</button>
    </form></p>
    <p><form action="/" method="get">
        <button type="submit">back</button>
    </form></p>
</body>
</html>