<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skill getById</title>
</head>
<body>
    <style>
        .frame table, .frame table td {
            border: 1px solid black;
        }
    </style>
    <h2>Fill out the form to get an appointment about skill.</h2>
    <form  action="/skill/get-by-id" method="post">
        <p>Id = <input type="text" value="" name="setId" id="setId"></p>
        <button type="submit">Get</button>
    </form>
    <br>
    <div class="frame" th:if="${skill} != ''">
        <table>
            <colgroup style="background-color: bisque;">
                <col style="background-color: #c4daff;">
                <col>
            </colgroup>
            <thead>
            <tr>
                <td>id</td>
                <td>department</td>
                <td>skillLevel</td>
            </tr>
            </thead>
            <tbody>
            <div th:if="${skill} == 'null'">
                <tr>
                    <td style="color:#ff0000">null</td>
                    <td style="color:#ff0000">null</td>
                    <td style="color:#ff0000">null</td>
                </tr>
            </div>
            <div th:if="${companyId} != 'null'">
                <tr>
                    <td th:text="${skill.id}"></td>
                    <td th:text="${skill.department}"></td>
                    <td th:text="${skill.skillLevel}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
    <h4 style="color:#ff0000" th:if="${errorMessage} != ''" th:text="'Error: ' + ${errorMessage}"></h4>
    <br>
    <form action="/skill" method="get">
        <button type="submit">back</button>
    </form>
</body>
</html>