<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <style>
        .frame table, .frame table td {
            border: 1px solid black;
        }
    </style>
    <h2>Click on the "get" button to get all company records.</h2>
    <form  action="/app/table/company/get-all" method="post">
        <button type="submit">Get</button>
    </form>
    <br>
    <div class="frame" th:if="${companies} != 'null'">
        <table>
            <colgroup style="background-color: bisque;">
                <col style="background-color: #c4daff;">
                <col>
            </colgroup>
            <thead>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>description</td>
            </tr>
            </thead>
            <tbody>
                <tr th:each="company: ${companies}">
                    <td th:text="${company.id}"></td>
                    <td th:text="${company.name}"></td>
                    <td th:text="${company.description}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4 style="color:#ff0000" th:if="${errorMessage} != ''" th:text="'Error: ' + ${errorMessage}"></h4>
    <br>
    <form action="/app/table/company" method="get">
        <button type="submit">back</button>
    </form>
</body>
</html>