<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Fill out the form to get an appointment about company.</h2>
    <form  action="/app/table/company/get-by-id" method="post">
        <p>Id = <input type="text" value="" name="setId" id="setId"></p>
        <button type="submit">Get</button>
    </form>
    <br>

    <style>
        .frame table, .frame table td {
            border: 1px solid black;
        }
    </style>

    <div class="frame" th:if="false">
        <table>
            <colgroup style="background-color: bisque;">
                <col style="background-color: #c4daff;">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>description</td>
                </tr>
            </thead>

            <tbody>
            <tr>
                <td>Ячейка 1</td>
                <td>Ячейка 2</td>
                <td>Ячейка 3</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4 style="color:#ff0000" th:if="${errorMessage.length()} != 0" th:text="'Error: ' + ${errorMessage}"></h4>
    <br>
    <form action="/app/table/company" method="get">
        <button type="submit">back</button>
    </form>
</body>
</html>