<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tables</title>
</head>
<body>
    <h2>Select table:</h2>
    <br>
    <form action="/company" method="get">
        <button type="submit">Company</button>
    </form>
    <br>
    <form action="/customer" method="get">
        <button type="submit">Customer</button>
    </form>
    <br>
    <form action="/project" method="get">
        <button type="submit">Project</button>
    </form>
    <br>
    <form action="/developer" method="get">
        <button type="submit">Developer</button>
    </form>
    <br>
    <form action="/project-developer" method="get">
        <button type="submit">ProjectDeveloper</button>
    </form>
    <br>
    <form action="/skill" method="get">
        <button type="submit">Skill</button>
    </form>
    <br>
    <form action="/developer-skill" method="get">
        <button type="submit">DeveloperSkill</button>
    </form>
</body>
</html>