<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project update</title>
</head>
<body>
    <h2>Complete the form to update the project record.</h2>
    <form  action="/project/update" method="post">
        <p>Id = <input type="text" value="" name="setId" id="setId"></p>
        <p>Name = <input type="text" value="" name="setName" id="setName"></p>
        <p>CompanyId = <input type="text" value="" name="setCompanyId" id="setCompanyId"></p>
        <p>CustomerId = <input type="text" value="" name="setCustomerId" id="setCustomerId"></p>
        <p>Cost = <input type="text" value="" name="setCost" id="setCost"></p>
        <p>CreationDate = <input type="text" value="" name="setCreationDate" id="setCreationDate"> Use the word "now" or enter the date in the format "yyy-MM-dd"</p>
        <button type="submit">Update</button>
    </form>
    <br>
    <h4 style="color:#00ff00" th:if="${errorMessage} == 'true'" th:text="${errorMessage}"></h4>
    <h4 style="color:#ff0000" th:if="${errorMessage.length()} > 4" th:text="'Error: ' + ${errorMessage}"></h4>
    <br>
    <form action="/project" method="get">
        <button type="submit">back</button>
    </form>
</body>
</html>