<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project methods</title>
</head>
<body>
    <h2>Select method to interact with table:</h2>
    <br>
    <p><form action="/project/create" method="get">
        <button type="submit">Create</button>
    </form></p>
    <p><form action="/project/get-by-id" method="get">
        <button type="submit">GetById</button>
    </form></p>
    <p><form action="/project/get-all" method="get">
        <button type="submit">GetAll</button>
    </form></p>
    <p><form action="/project/update" method="get">
        <button type="submit">Update</button>
    </form></p>
    <p><form action="/project/delete-by-id" method="get">
        <button type="submit">DeleteById</button>
    </form></p>
    <p><form action="/project/get-cost-by-id" method="get">
        <button type="submit">GetCostById</button>
    </form></p>
    <p><form action="/project/update-cost-by-id" method="get">
        <button type="submit">UpdateCostById</button>
    </form></p>
    <p><form action="/project/get-developers-by-project-id" method="get">
        <button type="submit">GetDevelopersByProjectId</button>
    </form></p>
    <p><form action="/project/get-all-by-special-format" method="get">
        <button type="submit">GetAllBySpecialFormat</button>
    </form></p>
    <p><form action="/" method="get">
        <button type="submit">back</button>
    </form></p>
</body>
</html>